{% extends 'base.html' %}

{% block content %}
<main>
    <div class="title">
        <h1>Sobre</h1>
    </div>
    <div class="about">
        <h2>Quem sou eu?</h2>
        <p>Nascida e criada em São José dos Campos, 19 anos, três gatos, um pouco tímida e muito curiosa.</p>
        <p>Apaixonada por música, comida, séries, animais e viagens! Vem conhecer um pouquinho mais.</p>
    </div>

    <div class="hobbies">
        <h2>Hobbies</h2>
        <p>Por mais simples que sejam, algumas atividades que eu gosto de fazer no meu tempo livre para relaxar!</p>
        <ul class="list">
            <li>Assistir a um jogo de futebol - por mais que às vezes não acabe com um resultado muito satisfatório</li>
            <li>Jogar um jogo</li>
            <li>Fazer alguma coisa com minha família</li>
            <li>Passar um tempo com meus gatos</li>
        </ul>
    </div>

    <div class="music">
        <h2>Músicas Favoritas</h2>
        <p><q>Com grandes poderes vêm grandes responsabilidades</q>, como um certo personagem diria. Brincadeiras à
            parte, com vocês, minhas músicas preferidas daqueles que eu citei a pouco!</p>
        <ul class="list">
            <li>Taylor Swift - All Too Well (10 Minutes Version) (Taylor's Version)- Escute <a href="https://www.youtube.com/watch?v=tollGa3S0o8&t=658s"target="_blank" rel="external" title="Taylor Swift - All Too Well">aqui!</a></li>
            <li>Queen - Don't Stop Me Now - Escute <a href="https://www.youtube.com/watch?v=HgzGwKwLmgM" target="_blank"rel="external" title="Queen - Don't Stop Me Now (Official Video)">aqui!</a></li>
            <li>Little Mix - Love Me or Leave Me - Escute <a href="https://www.youtube.com/watch?v=ySxcz7EVl-o"target="_blank" rel="external"title="Little Mix - Love Me or Leave Me (from After We Collided) [Official Audio]">aqui!</a></li>
            <li>Rex Orange County - Untitled - Escute <a href="https://www.youtube.com/watch?v=ByGLHhJa9NE"target="_blank" rel="external" title="Rex Orange County - Untitled (Official Video)">aqui!</a></li>
        </ul>
    </div>

    <div class="tv-show">
        <h2>Séries Favoritas</h2>
        <p>Assim como a música, séries são outra grande paixão e há inúmeros ótimos programas. Listei aqui alguns dos
            meus xodós.</p>
        <ul class="list">
            <li>Friends</li>
            <li>Modern Family</li>
            <li>Grey's Anatomy</li>
            <li>Criminal Minds</li>
        </ul>

        <picture>
            <source media="(max-width: 900px)" srcset="../static/img/tv-shows/tv-show-pq.png">
            <img src="../static/img/tv-shows/tv-show-g.png" alt="TV shows">
        </picture>

    </div>

    <div class="games">
        <h2>Jogos Favoritos</h2>
        <p>Bem, não poderia faltar a parte de jogos, não é? E vamos de nostalgia, ou nem tanto assim.</p>
        <ul class="list">
            <li>Super Mario World</li>
            <li>Need for Speed: Underground 2</li>
            <li>League of Legends</li>
            <li>Crash Bandicoot 2: Cortex Strikes Back</li>
        </ul>

        <picture>
            <source media="(max-width: 850px)" srcset="../static/img/games/games-pq.png">
            <img src="../static/img/games/games-g.png" alt="Games">
        </picture>

    </div>
</main>
{% endblock content %}