{% extends 'base.html' %}

{% block content %}
<main>
    <div class="title">
        <h1>Contatos</h1>
    </div>

    <ul class="social">
        <a href="https://www.linkedin.com/in/mclaralvs/" target="_blank" rel="external" title="Acesse meu LinkedIn!">
            <img src="../static/img/logo-sm/linkedin-100.png" alt="LinkedIn">
            <li>LinkedIn</li>
        </a>

        <a href="https://github.com/mclaralvs" target="_blank" rel="external" title="Acesse meu GitHub!">
            <img src="../static/img/logo-sm/gh-100.png" alt="GitHub">
            <li>GitHub</li>
        </a>

        <a href="https://www.facebook.com/mclaralvs/" target="_blank" rel="external" title="Acesse meu Facebook!">
            <img src="../static/img/logo-sm/fb-100.png" alt="Facebook">
            <li>Facebook</li>
        </a>
        <a href="https://www.instagram.com/mclaralvs/" target="_blank" rel="external" title="Acesse meu instagram!">
            <img src="../static/img/logo-sm/ig-100.png" alt="Instagram">
            <li>Instagram</li>
        </a>
    </ul>

    <div class="email">
        <img src="../static/img/logo-sm/email-133x100.png" alt="E-mail">
        <p>Ou então, pode me enviar um e-mail: <em><abbr title="Mande um e-mail!">mclaralvs@gmail.com</abbr></em></p>
    </div>

</main>
{% endblock content %}