<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="shortcut icon" href="../static/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="../static/img/logo.png" alt="Logo">
            <h1 class="logo">Meu Portfólio</h4>
        </div>
    </header>

    <nav>
        <a href="/">Início</a>
        <a href="/sobre-mim" target="_self"> Sobre </a>
        <a href="/academico" target="_self"> Acadêmico </a>
        <a href="/contatos" target="_self"> Contatos</a>
    </nav>

    <main>
        <div class="greetings">
                
            <div class="welcome">
                <h1>Bem vindo(a) ao meu Portfólio!</h1>
                <h2>Um pouquinho sobre mim, meus interesses e minha jornada acadêmica.</h2>
            </div>

            <div class="intro">
            <p>
                Oi! Meu nome é Maria Clara e, no ano de 2021, decidi embarcar de vez no mundo da Tecnologia e Informação.
            </p> 
        </div>

        </div>

        <div class="profile">
            <img src="../static/img/profile.png" alt="Profile pic">
        </div>

        <div class="sub-title">
            <h3>Guias de Navegação</h3>
        </div>

        <section class="cards">
            
            <div class="card">
                <h4>Sobre</h4>
                <ul>
                    <li>Quem sou eu?</li>
                    <li>Hobbies</li>
                    <li>Músicas favoritas</li>
                    <li>Séries favoritas</li>
                    <li>Jogos favoritos</li>
                </ul>

                <button>
                    <a href="about.html">Acesse!</a>
                </button>

            </div>

            <div class="card">
                <h4>Acadêmico</h4>
                <ul>
                    <li>Instituições de Ensino</li>
                    <li>Projetos</li>
                </ul>

                <button>
                    <a href="academic.html">Acesse!</a>
                </button>

            </div>

            <div class="card">
                <h4>Contatos</h4>
                <ul>
                    <li>GitHub</li>
                    <li>LinkedIn</li>
                    <li>E-mail</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                </ul>

                <button>
                    <a href="contact.html">Acesse!</a>
                </button>

            </div>
        </section>
    </main>
    <footer>
        <div class="central-bot">
            <h1>Meu Portfólio</h1>
            <div class="links-bot">
                <a href="/">Início</a>
                <a href="/sobre-mim" target="_self"> Sobre </a>
                <a href="/academico" target="_self"> Acadêmico </a>
                <a href="/contatos" target="_self"> Contatos</a>
            </div>
            <div class="ext-links-bot">

                <a href="https://www.linkedin.com/in/mclaralvs/" target="_blank" rel="external"
                    title="Acesse meu LinkedIn!">
                    <picture>
                        <source media="(max-width: 650px)" srcset="../static/img/logo-sm/footer/li-30.png">
                        <img src="../static/img/logo-sm/footer/li-50.png" alt="Logo LinkedIn">
                    </picture>
                <a>

                <a href="https://github.com/mclaralvs" target="_blank" rel="external" title="Acesse meu GitHub!">
                    <picture>
                        <source media="(max-width: 650px )" srcset="../static/img/logo-sm/footer/gh-30.png">
                        <img src="../static/img/logo-sm/footer/gh-50.png" alt="Logo GitHub">
                    </picture>
                </a>

                <a href="https://www.instagram.com/mclaralvs/" target="_blank" rel="external" title="Acesse meu instagram!">
                    <picture>
                        <source media="(max-width: 650px)" srcset="../static/img/logo-sm/footer/ig-30.png">
                        <img src="../static/img/logo-sm/footer/ig-50.png" alt="Logo Instagram">
                    </picture>
                <a>
            </div>
        </div>

        <h2>&copy; 2021 copyright All Rights Reserved</h2>
    </footer>
</body>

</html>
