/*Parte universal*/

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #C4C4C4;
    --cor1: #80ffdb9a;
    --cor2: #64DFDF;
    --cor3: #6930C3;
    --cor4: #252525;
}

body {
    background-color: var(--cor4);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/*Parte da header e navbar*/

header, 
nav {
    background-color: var(--cor2);
    color: var(--cor3);
    width: 100%;
    padding: 5px 2px 5px 2px;
    width: 100%;
}

header {
    width: 100%;
    min-height: 140px;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
    padding: 5px;
    color: var(--cor3);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 10px;
    padding: 5px;
    transition-duration: 0.5s;
}

/*Parte do main*/

main {
    position: relative;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

/*Parte da página index.html*/

.greetings {
    display: flex;
    justify-content: space-between;
}

.welcome {
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 10px 0px 20px 10px;
    padding: 10px;
    max-width: 450px;
    min-width: 200px;
}

.welcome h1 {
    font-size: 1.8em;
}

.welcome h2 {
    font-size: 1.3em;
}

.intro {
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 10px 0px 20px 10px;
    padding: 10px;
    max-width: 450px;
    min-width: 200px;
}

.intro p {
    margin-top: 15%;
    font-size: 1em;
}

.profile img {
    flex-wrap: wrap;
    border-radius: 20px;
    filter: saturate(120%);
}

.card-title {
    font-size: 1.3em;
    position: relative;
    width: 96%;
    text-align: center;
}

.card h4 {
    margin: 5px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: auto;
    width: 290px;
    height: 280px;
    margin-bottom: 25px;
}

.card h4 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.card li {
    text-align: left;
    margin-left: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;   
}

.btn.btn-dark {
    background-color: var(--cor3);
    border: var(--cor3);
    color: white;
    font-size: 1.1em;

    margin: auto;
}

.card .btn.btn-dark {
    height: 50px;
    width: 110px;
}

#short-one {
    margin-top: 88px;
}

.btn.btn-dark a {
    text-decoration: none;
    color: white;
}

.btn.btn-dark:hover {
    border: var(--cor2);
    background-color: var(--cor2);
    transition-duration: 0.5s;
}

.btn.btn-dark a:hover{
    color: var(--cor3);
}

/*Parte da página about.html*/
.about,
.hobbies,
.music,
.tv-show,
.games {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    margin-bottom: 25px;
}

.about h2,
.hobbies h2,
.music h2,
.tv-show h2,
.games h2 {
    padding: 10px;
    margin-top: 10px;
}

.about p,
.hobbies p,
.music p,
.tv-show p,
.games p {
    padding: 10px;
}

.about {
    min-height: 200px;
    max-height: 300px;
}

.hobbies {
    min-height: 270px;
    max-height: 400px;
    padding-bottom: 10px;
}

.list {
    margin-left: 25px;
    text-align: left;
}

.list a {
    text-decoration: none;
    color: #6930C3;
}

.list a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 10px;
    padding: 3px;
    transition-duration: 0.5s;
}

.music {
    min-height: 280px;
    max-height: 450px;
}

.tv-show {
    min-height: 270px;
}

.tv-show ul {
    display: flex;
    justify-content: space-around;
}

.tv-show li {
    padding-right: 30px;
}

.games{
    min-height: 400px;
    max-height: 1000px;
}

/*Parte da página academic.html*/
.edu-cards {
    display: flex;
    flex-wrap: wrap;
    
}

.sub-title {
    color: white;
    font-size: 1.1em;
    padding: 15px;
}

.education {
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: auto;
    width: 300px;
    height: 270px;
    margin-bottom: 25px;
}

.education h3,
.education h4 {
    padding: 10px;
}

.education p {
    padding: 2.5px;
}

.proj-cards {
    display: flex;
    flex-wrap: wrap;
}

.project {
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    width: 300px;
    height: 425px;
    margin: auto;
    margin-bottom: 25px;
}

.project h3,
.project h4 {
    padding: 10px;
}

.project p {
    padding: 2.5px;
}

#first {
    margin-bottom: -25px;
}

#sec {
    margin-bottom: -185px;
}

#last {
    margin-bottom: -135px;
}

/*Parte da página contact.html*/
.title {
    color: white;
    font-size: 1.3em;
}

.social {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1.2em;
}

.social a {
    margin-right: 5%;
    margin-left: 50px;
    justify-content: flex-start;
    padding: 20px 25px 70px 20px;
    color: white;
    text-decoration: none;
}

.email {
    display: flex;
    font-size: 1.1em;
}

.email img {
    margin-left: 5%;
    padding: 20px;
}

.email p {
    color: white;
    margin: 50px 0px 20px 50px
}

.email abbr {
    text-decoration: none;
}

/*Parte do footer*/

footer {
    position: absolute;
    left: 0%;
    background-color: var(--cor0);
    color: var(--cor3);
    width: 100%;
    height: 140px;
}

.central-bot {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left:10%;
}

.central-bot h1 {
    margin-top: 20px;
    margin-left: 5px;
}

.links-bot {
    margin-top: 30px;    
}

.links-bot a {
    color: var(--cor3);
    text-decoration: none;
    padding: 15px;
}

.links-bot a:hover {
    color: var(--cor2);
    padding: 15px;
    transition-duration: 0.5s;
}

.ext-links-bot {
    margin-top: 30px;
    margin-right: 0px;
}

.ext-links-bot img {
    padding: 1px;
}

footer h2 {
    background-color: var(--cor0);
    font-size: 0.7em;
    padding: 10px;
    margin-top: -10px;
    text-align: center;
}